
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Notes
*.note

# Added after having issue with html files in the template
*.html.py

# OSX #
.DS_Store
.AppleDouble
.LSOverride

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
local_settings.py
.env
static/

# Backup files # 
*.bak 
*.backup

# Thumbnails
._*

# Distribution / packaging
.Python
.idea
*.sql
.vscode
venv/
env/
build/*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
.venv
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
