[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
django-extensions = "*"
pygraphviz = "*"

[packages]
django = "==3.0.2"
gunicorn = "*"
psycopg2 = "*"
django-crispy-forms = "*"
python-decouple = "*"
plotly = "*"
django-plotly-dash = "*"
dash-bootstrap-components = "*"
django-bootstrap4 = "*"
django-debug-toolbar = "*"
django-extensions = "*"
django-mptt = "*"
django-pandas = "*"
cufflinks = "*"
channels = "*"
daphne = "*"
redis = "*"
django-redis = "*"
channels-redis = "*"
django-import-export = "*"
django-extra-views = "*"
psycopg2-binary = "*"
django-cors-headers = "*"
django-filter = "*"
django-widget-tweaks = "*"
django-tables2 = "*"
django-select2 = "*"

[requires]
python_version = "3.7"
