{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block meta_title %}
    {% trans "Password reset complete" %} 
{% endblock %}


{% block body %}
    <body class="bg-gradient-primary">
        <div class="container">
            <!-- Outer Row -->
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <img class="col-lg-6 d-none d-lg-block" src="{% static 'common/base/img/bg_600x800.png' %}">
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">{% trans "Password reset complete" %}</h1>
                                        </div>
                                        <p>{% trans "Your password has been set. You may go ahead and log in now." %}</p>
                                        <a class="align-center btn btn-primary" href="{% url 'login' %}"> {% trans "Log in" %}</a>
                                        <hr>

                                        <!-- Footer -->
                                        {% include 'partials/_footer.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}





