{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block meta_title %}
    {% trans "Enter new password" %} 
{% endblock %}


{% block body %}
    <body class="bg-gradient-primary">
        <div class="container">
            <!-- Outer Row -->
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <img class="col-lg-6 d-none d-lg-block" src="{% static 'common/base/img/bg_600x800.png' %}">
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        {% if validlink %}
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">{% trans "Enter new password" %}</h1>
                                        </div>

                                        <form method="post" class="from-group">
                                            {% csrf_token %}
                                            {{form|crispy}}
                                            <button type="submit" class="btn btn-success">{% trans "Change my password" %}</button>
                                        </form>
                                        {% else %}
                                            <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
                                        {% endif %}

                                        <hr>

                                        <!-- Footer -->
                                        {% include 'partials/_footer.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}





