{% extends 'base.html' %}
{% load static %}


{% block custom_css %}
    <style>

        h2 {
            text-align: center;
            font-family: Helvetica, Arial, sans-serif;
        }
        table { 
            margin-left: auto;
            margin-right: auto;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: center;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 90%;
        }
        table tbody tr:hover {
            background-color: #FFF;
        }
        .wide {
            width: 90%; 
        }

    </style>
{% endblock %}

{% block header_title %} {{ page_elements.page_title }} {% endblock %}


{% block content %}

<div class='row'>
    <div class="col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Statistics</h6>
            </div>
        
            <div class="card-body">
                <div class="table-responsive">
                    <div class='row'>
                        <div class='col-md-3'>
                            <b>Status: </b> {{ statistics.status }} 
                        </div>
                        <div class='col-md-3'>

                            <b>Number of products: </b> {{ statistics.num_products }} 
                        </div>
                        <div class='col-md-3'>
                            <b>Number of warehouses: </b> {{ statistics.num_warehouses }} 
                        </div>
                        <div class='col-md-3'>
                            <b>Total quantity of all products: </b> {{ statistics.max_quantity }} 
                        </div>
                        <div class='col-md-3'>
                            <b>Max num pallet to consider: </b> {{ statistics.max_pallet }} 
                        </div>
                        <div class='col-md-3'>
                            <b>Number of products per pallet in this example: </b> {{ statistics.num_product_in_pallet }} 
                        </div>
                        <div class='col-md-3'>
                            <b>Optimal objective value: </b>  {{ statistics.new_objective_value }} (was {{ statistics.old_objective_value }})
                        </div>
                            {% comment %} <b>Walltime: </b>
                                {{ statistics.walltime }}  {% endcomment %}
                    </div>
                    <a class="btn btn-danger float-right" href="{% url 'deployment:deployment_index' %}" role="button">Refresh</a>

                </div>
            </div>        
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">CDC warehouse</h6>
            </div>
        
            <div class="card-body">
                <div class="table-responsive">
                        {{ df.cdc_warehouse_df|safe }}
                </div>
            </div>        
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Min. order quantity</h6>
            </div>
        
            <div class="card-body">
                <div class="table-responsive">
                        {{ df.min_order_quantity_df|safe }}
                </div>
            </div>        
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Forecasting data</h6>
            </div>
        
            <div class="card-body">
                <div class="table-responsive">
                        {{ df.forecasting_data|safe }}
                </div>
            </div>        
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Reception</h6>
            </div>
        
            <div class="card-body">
                <div class="table-responsive">
                        {{ df.reception_data|safe }}
                </div>
            </div>        
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Expedition</h6>
            </div>
        
            <div class="card-body">
                <div class="table-responsive">
                        {{ df.expedition_data|safe }}
                </div>
            </div>        
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Stock</h6>
            </div>
        
            <div class="card-body">
                <div class="table-responsive">
                        {{ df.image_stock_data|safe }}
                </div>
            </div>        
        </div>
    </div>
    {% comment %} <div class="col-md-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Simulated stock</h6>
            </div>
        
            <div class="card-body">
                <div class="table-responsive">
                        {{ df.simulated_stock_data|safe }}
                </div>
            </div>        
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Lost turnover</h6>
            </div>
        
            <div class="card-body">
                <div class="table-responsive">
                        {{ df.lost_turnover_data|safe }}
                </div>
            </div>        
        </div>
    </div> {% endcomment %}
</div>
<div class='row'>
    <div class="col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Deployment result</h6>
            </div>
        
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="table-responsive">
                                {{ df.output_df|safe }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="table-responsive">
                                {{ df.output_by_warehouse|safe }}
                        </div>
                    </div>        
                </div>        
            </div>        
        </div>
    </div>
</div>

{% endblock %}
