packages:
  yum:
    postgresql-devel: []

container_commands:
  01_migrate:
    command: "source $(find /var/app/venv/ -name activate) && python manage.py migrate --noinput"
    leader_only: true
  # # Command to add a superuser
  # 02_createsuperuser:
  #   command: "echo \"from django.contrib.auth.models import User; User.objects.create_superuser('orchest-admin', 'abdeltif.b@gclgroup.com', 'password')\" | python manage.py shell"
  #   leader_only: true

## Specify the location of the WSGI (NOTE we used Procfile instead)
# option_settings:
#   aws:elasticbeanstalk:container:python:
#     WSGIPath: orchest.wsgi:application
