{% load i18n %}
{% load widget_tweaks %}


<div class="card border-left-primary shadow mb-4">
    <!-- Card Header - Accordion -->
    <a href="#{{ collapse_prefix_id }}_filter" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="{{ collapse_prefix_id }}_filter">
        <h6 class="m-0 font-weight-bold text-primary">{% trans "Data filter" %}</h6>
    </a>
    <div class="collapse show" id="{{ collapse_prefix_id }}_filter" style="">
        <div class="card-body">
            <!-- filter form -->
            <!-- render the form using crispy -->
            {% comment %} <form action="" method="get" class="form form-inline justify-content-between">
                {{ filter.form|crispy }} {% endcomment %}

            <form action="" method="get" class="form">
                <div class="form-row align-items-end">
                    {% for field in filter.form.visible_fields %}
                        <div class="col">
                            {{ field.label_tag }}
                            {% render_field field class="mb-2 form-control" %}
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-xs btn-primary">{% trans "Filter" %}</button>
            </form>
        </div>
    </div>
</div>