    

{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% comment %} {% load widget_tweaks %} {% endcomment %}
{% load django_tables2 %}

{% block content %}



    <!-- card -->
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card border-left-primary shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#collapseCard1" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCard1">
                    <h6 class="m-0 font-weight-bold text-primary">{% trans "Data filter" %}</h6>
                </a>
                <div class="collapse show" id="collapseCard1" style="">
                    <div class="card-body">
                        <!-- filter form -->
                        {% if filter %}
                        <!-- render the form using crispy -->
                            {% comment %} <form action="" method="get" class="form form-inline justify-content-between">
                                {{ filter.form|crispy }} {% endcomment %}

                            <form action="" method="get" class="form">
                                <div class="form-row align-items-end">
                                    {% for field in filter.form.visible_fields %}
                                        <div class="col">
                                            {{ field.label_tag }}
                                            {% render_field field class="mb-2 form-control" %}
                                        </div>
                                    {% endfor %}
                                </div>
                                <button type="submit" class="btn btn-xs btn-primary">{% trans "Filter" %}</button>
                            </form>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- listview -->
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card border-left-primary shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#collapse-version-list" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapse-version-list">
                    <h6 class="m-0 font-weight-bold text-primary">{% trans "Version List" %}</h6>
                </a>
                <div class="collapse show" id="collapse-version-list" style="">

                    <div class="card-body">

                    {% render_table table %}


                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


